<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Here's your feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<% provide(:title, 'Home') %>
		<h1>The Microblogging App</h1>
		<h2>This is my Sample App. There are many like it, but this one is mine.</h2>
		<p>This is the home page for what will eventually become a twitter clone.</p>
		<p>The tutorial itself can be found <a href="http://railstutorial.org/">here</a> if you're so inclined</p>
		<%= link_to "Sign up, it's great!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>